body{
  background-color: #0d0d25;
}
header {
  width: 100%;
  padding: 18px 24px;
  display: flex;
  justify-content: center;
  padding: 1px solid #333;
  font-size: large;
  background: #0d0d25 ;
  border-radius: 40px;
}

nav {
  display: flex;
  gap: 18px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  padding: 8px 12px;
  border-radius: 100px;
}

nav a:hover {
  background:#00AAFF;
}
.home{
  position: relative;
  background: #0d0d25; /* sample bg color */
  color: white;
  padding: 120px 100px;
  overflow: hidden;
}

.home::before {
  content: "A";
  position: absolute;
  font-size: 400px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.05); /* faded / transparent effect */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.home .content {
  position: relative;
  z-index: 1; /* para nasa ibabaw ng letter A */
}
